altair==4.0.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.9.0
bleach==3.1.1
blinker==1.4
blis==0.4.1
bokeh==2.0.1
boto3==1.12.5
botocore==1.15.5
Brlapi==0.6.6
bs4==0.0.1
catalogue==1.0.0
certifi==2018.1.18
chardet==3.0.4
Click==7.0
command-not-found==0.3
cryptography==2.3
cupshelpers==1.0
cymem==2.0.3
decorator==4.4.1
defer==1.0.6
defusedxml==0.6.0
distro-info===0.18ubuntu0.18.04.1
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
future==0.18.2
gTTS==2.1.1
gTTS-token==1.1.3
heroku==0.1.4
httplib2==0.9.2
idna==2.6
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.4
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
kazam==1.4.5
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
mistune==0.8.4
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.4
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
oauth==1.0.1
olefile==0.45.1
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pdftotext==2.1.4
pexpect==4.2.1
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
plac==1.1.3
playsound==1.2.2
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.2.5/pt_core_news_sm-2.2.5.tar.gz
ptyprocess==0.6.0
PyAudio==0.2.11
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pydeck==0.2.1
Pygments==2.5.2
pygobject==3.26.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyRFC3339==1.0
pyrsistent==0.15.7
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
pyzmq==18.1.1
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
s3transfer==0.3.3
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
soupsieve==2.0
spacy==2.2.4
SpeechRecognition==3.8.1
srsly==1.0.2
streamlit==0.56.0
system-service==0.3
systemd-python==234
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
thinc==7.4.0
tika==1.24
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.46.1
traitlets==4.3.3
typing-extensions==3.7.4.2
tzlocal==2.0.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
usb-creator==0.3.3
validators==0.14.2
virtualenv==15.1.0
virtualenv-clone==0.5.3
wadllib==1.3.2
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
xkit==0.0.0
zipp==3.0.0
zope.interface==4.3.2
